<footer class="footer-main">
    <meta property="og:title" content="John W. Miller">
    <meta property="og:description" content="John W. Miller">
    <meta property="og:url" content="http://www.johnwmillr.com/index.html">
    <meta property="og:image" content="http://johnwmillr.github.io/assets/images/pies.jpg">

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:title"   content="{{ page.title }}">

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.picture }}">
    {% endif %}
    <!-- end of Twitter cards --> 
    
    {{ site.name }} © {{ site.time | date: '%Y' }}
</footer>
