<meta property="og:title" content="John W. Miller">
<meta property="og:description" content="John W. Miller">
<meta property="og:url" content="http://www.johnwmillr.com/index.html">
<meta property="og:image" content="{{ site.url }}{{ site.picture }}">

<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{site.twitter }}">
<meta name="twitter:creator" content="@{{site.twitter }}">
{% if post.description %}
    <meta name="twitter:title"   content={{ post.description }}>
    <meta name="twitter:description" content{{ post.description }}>
{% else %}
    <meta name="twitter:title"   content={{ post.description }}>
    <meta name="twitter:description" content{{ post.description }}>
{% endif %}    

{% if post.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ post.image }}">    
{% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.url }}{{ site.picture }}">    
{% endif %}    

<!-- end of Twitter cards -->    
