<div class="social-cards">

<!--   {% if post.title %}
      <meta property="og:title"  content="{{ post.title }}">
      <meta name="twitter:title" content="{{ post.title }}">
  {% elsif page.title %}
      <meta property="og:title"  content="{{ page.title }}">
      <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
      <meta property="og:title"  content="{{ site.description }}">
      <meta name="twitter:title" content="{{ site.description }}">
  {% endif %}

 -->
 <!--  {% if post.description %}
      <meta name="twitter:title"       content="{{ post.description }}">
      <meta name="twitter:description" content="{{ post.description }}">
      <meta property="og:description"  content="{{ post.description }}">
  {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
      <meta property="og:description"  content="{{ site.description }}">
  {% endif %} -->

  {% if page.image %}
      <meta name="twitter:card"  content="summary_large_image">
      <meta property="og:image"  content="{{ site.url }}/{{ page.image }}">
  {% else %}
      <meta name="twitter:card"  content="summary">
      <meta property="og:image"  content="{{ site.url }}/{{ site.picture }}">
  {% endif %}
</div>
